<script>

    function minus(val) {
        let parent = val.parentNode;
        let value = Number(parent.querySelector('input').value)
        if (value <= 1) {
            parent.querySelector('input').value = 1
        } else {
            value -= 1;
            parent.querySelector('input').value = value;
        }
    }


    function plus(val) {
        let parent = val.parentNode;
        let value = Number(parent.querySelector('input').value)
        value += 1;
        parent.querySelector('input').value = value;

    }


    function addToCart(val) {
        let parent = val.parentNode;
        let qty = Number(parent.querySelector('input').value)
        let url = val.value;
        $.ajax({
            url: url,
            data: { qty: qty },
            type: "GET",
            dataType: "json",
            beforeSend: function () {
                parent.querySelector('#cartLoader').style.display = 'inline';
            },
            complete: function () {
                parent.querySelector('#cartLoader').style.display = 'none';
            },
            success: function (response) {
                if (response["status"]) {
                    parent.querySelector('#cartLoader').style.display = 'none';
                    //parent.querySelector('.add-to-kart').innerHTML = 'Added';
                    let tableData = "<tr><th>Item Name</th><th>Quantity</th><th>Price</th><th>Total</th><th></th></tr>";
                    let total = 0;
                    for (let i = 0; i < response["cart"].length; i++) {
                        let subtotal = (response["cart"][i].product_price * response["cart"][i].qty).toFixed(2);
                        total += Number(subtotal);
                        tableData += "<tr> <td> </button> " + response["cart"][i].product_name + " </td> <td> " + response["cart"][i].qty + " </td> <td> " + response["cart"][i].product_price + " </td> <td> " + subtotal + " </td> <td><button class='btn btn-info px-2 py-1'> <a href='/admin/updateCart/" + i + "?action=remove'> <i class='fa fa-trash'> </i> </a> </button> </td></tr>"
                    }
                    tableData += "<tr> <td align='right' colspan='4'> Total : <i class='fas fa-rupee-sign'></i> " + Math.round(total).toFixed(2) + " </td> </tr>";
                    $("#cartTable").html(tableData);

                }
            }
        });


    }


</script>

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body py-2">
                    <div class="float-left">
                        <h5>Update Orders</h5>
                    </div>
                    <div class="float-right">
                        <span class="badge badge-info">{{user.user_name}}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <div class="pb-1">
                        <div class="container-fluid px-0" id="formContainer">
                            <div class="row" id="searchForm">
                                <div class="col-md-12">
                                    <form action="" id="searchNow">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend ">
                                                <div class="input-group-text bg-white text-info ">
                                                    <i class="fa fa-search bg-white text-info"></i>
                                                </div>
                                            </div>
                                            <input type="search" class="form-control pl-0" id="search_query"
                                                name="search_query" placeholder="Search Here!!" autofocus
                                                autocomplete="off">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row" id="searchedItem">
                                <div class="col-md-12">
                                    <div class="shadow-sm bg-white px-0 rounded">
                                        <div id="itemContainer">

                                        </div>
                                        <div class="text-center">
                                            <img id="searchLoader" style="display: none;"
                                                src="/images/loader/ajax-loader.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6 class="text-center text-info"> OR</h6>

                    {{!-- Manual Form --}}
                    <form action="" id="manualForm">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend ">
                                    <div class="input-group-text bg-white text-info">
                                        Item
                                    </div>
                                </div>
                                <input type="text" class="form-control pl-2" id="product_name" name="product_name"
                                    placeholder="Item Name !!" required>
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend ">
                                    <div class="input-group-text bg-white text-info">
                                        Qnty
                                    </div>
                                </div>
                                <input type="text" class="form-control pl-2" id="product_qty" name="product_qty"
                                    placeholder="Quantity !!">
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend ">
                                    <div class="input-group-text bg-white text-info">
                                        Price
                                    </div>
                                </div>
                                <input type="text" class="form-control pl-2" id="product_price" name="product_price"
                                    placeholder="Price !!">
                            </div>

                            <div class="">
                                <button class="btn-info btn rounded-0 border-0">
                                    Add <img id="manualLoader" style="display: none;"
                                        src="/images/loader/ajax-loader.gif" alt="">
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        {{!-- cart preview --}}
        <div class="col-md-6 offline-order-table">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <table class="table table-stripped" id="cartTable">
                        {{#if cart.length}}
                        <tr>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        {{#each cart as |item|}}
                        <tr>
                            <td>

                                {{item.product_name}}
                            </td>
                            <td> {{item.qty}} </td>
                            <td> {{item.product_price}} </td>
                            <td> {{item.subtotal}} </td>
                            <td>
                                <button class="btn btn-info px-2 py-1">
                                    <!--
                                    <a href="/users/updateCart/{{this.product_slag}}?action=remove">
                                        <i class='fa fa-trash'> </i>
                                    </a>
                                    -->

                                    <a href='/admin/updateCart/{{@index}}?action=remove'> <i class='fa fa-trash'> </i> </a>
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td colspan="4" align="right"> Total: <i class='fas fa-rupee-sign'></i>{{total}} </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>

                            </td>

                        </tr>
                        {{/if}}
                    </table>
                    <div class="button">
                        {{!-- Update Button --}}
                        <button type="button" class="btn btn-info border-0 rounded-0 ox-2 py-1 text-sm" onclick="updateOrder('{{list._id}}')">
                            Update Order
                            <img id="updateOrderLoader" style="display: none;"
                                src="/images/loader/ajax-loader.gif" alt=""> 
                        </button>

                        {{!-- Claer Cart Button --}}
                        <button type="button" class="btn btn-danger border-0 rounded-0 ox-2 py-1 text-sm" id="clearCart">
                            Clear Cart <img id="clearManualLoader" style="display: none;"
                                src="/images/loader/ajax-loader.gif" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $("#search_query").on("keyup", function () {
        let q = $(this).val();
        if (q.length > 0) {
            $.ajax({
                url: "/search",
                data: $(this).serialize(),
                type: "POST",
                dataType: "json",
                beforeSend: function () {
                    $("#searchLoader").show();
                },
                complete: function () {
                    $("#searchLoader").hide();
                },
                success: function (response) {
                    if (response["isData"]) {
                        let html = "";
                        for (let i = 0; i < response["list"].length; i++) {
                            html = html + "<div class='border-bottom p-2 offline-order-form'> <a href='/products/" + response["list"][i].product_slag + "'>" + response["list"][i].product_name + "<span class='text-info'> <i class='fas fa-rupee-sign'></i> " + response["list"][i].product_price + "</a> </span>    <div class='quantity'><button id='minus' onclick='minus(this)'>-</button><input type='text' id='quantity' value='1'><button id='plus' onclick='plus(this)'>+</button> <button onclick='addToCart(this)' class='btn btn-info border-0 rounded-0 add-to-kart' value='/users/addToCart/" + response["list"][i].product_slag + "'> Add to Cart <img id='cartLoader' style='display:none' src='/images/loader/ajax-loader.gif'></button></div> </div>";
                        }
                        $("#itemContainer").html(html);
                    } else {
                        let html = "<div class='p-2 text-muted border-bottom text-center'> <a class='text-danger'> " + response["list"] + " </a> </div>";
                        $("#itemContainer").html(html);
                    }
                }
            });
        } else {
            $("#itemContainer").html('');
        }
    });


    $("#manualForm").submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize())
        $.ajax({
            url: "/admin/manualOrder",
            data: $(this).serialize(),
            type: "POST",
            dataType: "json",
            beforeSend: function () {
                $("#manualLoader").show();
            },
            complete: function () {
                $("#manualLoader").hide();
            },
            success: function (response) {
                if (response["status"]) {
                    $("#manualLoader").hide();
                    //parent.querySelector('.add-to-kart').innerHTML = 'Added';
                    let tableData = "<tr><th>Item Name</th><th>Quantity</th><th>Price</th><th>Total</th><th></th></tr>";
                    let total = 0;
                    for (let i = 0; i < response["cart"].length; i++) {
                        let subtotal = (response["cart"][i].product_price * response["cart"][i].qty).toFixed(2);
                        total += Number(subtotal);
                        tableData += "<tr> <td> </button> " + response["cart"][i].product_name + " </td> <td> " + response["cart"][i].qty + " </td> <td> " + response["cart"][i].product_price + " </td> <td> " + subtotal + " </td> <td><button class='btn btn-info px-2 py-1'> <a href='/admin/updateCart/" + i + "?action=remove'> <i class='fa fa-trash'> </i> </a> </button> </td></tr>"
                    }
                    tableData += "<tr> <td align='right' colspan='4'> Total : <i class='fas fa-rupee-sign'></i> " + Math.round(total).toFixed(2) + " </td> </tr>";
                    $("#cartTable").html(tableData);
                }
            }
        });
    });


    $("#clearCart").click(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/admin/clearManualOrder",
            data: {},
            type: "POST",
            dataType: "JSON",
            beforeSend: function () {
                $("#clearManualLoader").show();
            },
            complete: function () {
                $("#clearManualLoader").hide();
            },
            success: function(response){
                if(response.status){
                    let tableData = "<tr><td colspan='5' align='center' class='text-danger'>"+response['value']+"</td></tr>";
                    $("#cartTable").html(tableData);
                }
            }
        });
    })


    $("#offlineOrderForm").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/admin/getOfflineOrder",
            data: $(this).serialize(),
            type: "POST",
            dataType: "JSON",
            beforeSend: function () {
                $("#clearManualLoader").show();
            },
            complete: function () {
                $("#clearManualLoader").hide();
            },
            success: function(response){
                if(response.status){
                    $(".form-control").val('');
                    $("#orderModel").modal("hide");
                    let tableData = "<tr><td colspan='5' align='center' class=' h5 text-success'>"+response['value']+"</td></tr>";
                    $("#cartTable").html(tableData);
                }
            }
        });
    })

    function updateOrder(orderId){
        $.ajax({
            url: "/admin/getUpdateOrder/"+orderId,
            data: {},
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                $("#updateOrderLoader").show();
            },
            complete: function () {
                $("#updateOrderLoader").hide();
            },
            success: function(response){
                if(response.status){
                    let tableData = "<tr><td colspan='5' align='center' class=' h5 text-success'>"+response['value']+"</td></tr>";
                    $("#cartTable").html(tableData);
                }else{
                    let tableData = "<tr><td colspan='5' align='center' class=' h5 text-success'>"+response['value']+"</td></tr>";
                    $("#cartTable").html(tableData);
                }
            }
        });
    }
</script>
