<div class="container-fluid">
    <div class="row p-0">
        <div class="col-md-6 m-auto p-0 bg-white py-3">

            <h5 class="text-center text-info">Hii,
                {{#if login}}
                {{user.name}}
                {{else}}
                Guest
                {{/if}}
            </h5>
            <p class="text-center">Stay Home, Stay Safe</p>
            {{#if success}}
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 m-auto alert alert-success">
                        {{success}}
                    </div>
                </div>
            </div>
            {{/if}}

            {{#if error}}
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 m-auto alert alert-danger">
                        {{error}}
                    </div>
                </div>
            </div>
            {{/if}}

            {{#if list.length}}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p-1">
                        <h5 class="text-info py-2 h6 ml-3"> <i class="fa fa-cog"></i> <span class="ml-2"> Your Orders
                                !!</span> </h5>
                        <div id="accordion">
                            {{#each list as |item|}}
                            <div class="card mb-1 bg-white border-bottom">
                                <div class="card-header bg-white border-0" id="headingOne{{@index}}">
                                    <div class="mb-0">
                                        <div class="title float-left text-info h6">
                                            <span> {{item.sn}} ) {{item.name}} (
                                                {{#if item.isCancled}}
                                                    <span class="badge badge-danger" id="orderStatus-{{item._id}}">{{item.order_status}}</span>
                                                {{else}}
                                                    <span class="badge badge-success" id="orderStatus-{{item._id}}">{{item.order_status}}</span>
                                                {{/if}}
                                                 )

                                        </div>
                                        <div class="toggle-button float-right">
                                            <button class="btn btn-info m-0 py-0 px-2" data-toggle="collapse"
                                                data-target="#collapseOne{{@index}}" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            {{#if item.isCancel}}
                                            <button class="btn btn-danger m-0 py-0 px-2" type="button"
                                                data-toggle="modal" data-target="#OrderCancelModal" onclick="getId('{{item._id}}')" id="cancelButton-{{item._id}}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseOne{{@index}}" class="collapse" aria-labelledby="headingOne{{@index}}"
                                    data-parent="#accordion">

                                    {{#each item.cart as |cart|}}
                                    <div class="card-body">
                                        <div class="row cart-items">
                                            <div class="col-xs-4 col-md-4">

                                                <img src="{{cart.product_image}}"
                                                    class="card-img-top img-responsive image"
                                                    alt="{{cart.product_name}}"
                                                    style="max-height: 200px; max-width:200px">
                                            </div>
                                            <div class="col-xs-4 col-md-5">
                                                <p class="title">
                                                    <a target="_blank"
                                                        href="/products/{{cart.product_slag}}">{{cart.product_name}}</a>
                                                </p>

                                            </div>
                                            <div class="col-xs-4 col-md-3 update-cart">
                                                <p class="price">
                                                    {{this.qty}} x <i class="fa fa-inr"></i>{{this.product_price}} = <i
                                                        class="fa fa-inr"></i>
                                                    {{this.subtotal}}
                                                </p>
                                            </div>
                                        </div>

                                    </div>


                                    {{/each}}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <tr>
                                                    <td>Total Amount</td>
                                                    <td class="text-right"> <i class="fa fa-inr"></i>
                                                        {{item.total_amount}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Order Date</td>
                                                    <td class="text-right">{{item.order_date}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Shipped Date</td>
                                                    <td class="text-right">{{item.shipped_date}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Order Address</td>
                                                    <td class="text-right">{{item.address}}</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            {{else}}
            <div class="alert alert-danger">
                There is no Order
            </div>
            <div class="">
                <a href="/" class="btn btn-info"> Start Shopping </a>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{!-- Cancled confirmation modal --}}
<div class="modal fade" id="OrderCancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Do You Want to Cancled ?</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="orderCancelForm">
                    <input type="hidden" name="orderId" value="" id="orderId">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" class="form-control">    
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="orderCancelForm" class="btn btn-info">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    const getId = (id)=>{
        $("#orderId").val(id);
    }
    $("body").on("submit", "#orderCancelForm", function (event) {
        event.preventDefault();
        $.ajax({
            url: '/users/orderCancel',
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            beforeSend: function () {
                $("#loader").show();
            },
            complete: function () {
                $("#loader").hide();
            },
            success: function (response) {
                $("#OrderCancelModal").modal("hide");
                if (response["status"] == 0) {
                    //set error message 
                    Swal.fire(
                        response["title"],
                        response["message"],
                        response["modal"]
                    );
                } else {
                    $("#cancelButton-"+response.orderId).hide();
                    $("#orderStatus-"+response.orderId).html('Canceled').removeClass("badge-success").addClass("badge-danger");

                    Swal.fire(
                        response["title"],
                        response["message"],
                        response["modal"]
                    );
                }
            }
        });
    });
</script>